body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: normal;
  font-family: "Arial", Helvetica, sans-serif;
}

a , a:active, a:link, a:visited , a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@import '~antd/dist/antd.css';
